# list of tags and method of BS4 and it functionallity

In [4]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [5]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='bol
    dest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [6]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [7]:
# Parse the HTML
soup = BeautifulSoup(html, 'html.parser')

In [8]:
print(soup.prettify()) # print the parsed data of html

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [9]:
soup.text

'Page TitleLebron James Salary: $ 92,000,000  Stephen Curry Salary: $85,000, 000  Kevin Durant  Salary: $73,200, 000'

# Tags
- `soup.title` : returns the title of the page
- `soup.title.name` : returns the name of the title tag
- `soup.title.string` : returns the string inside the title tag
- `soup.p` : returns the first p tag
- `soup.p['class']` : returns the class of the p tag
- `soup.a` : returns the first a tag
- `soup.find_all('a')` : returns all the a tags
- `soup.find(id='link3')` : returns the tag with id link3
- `soup.get_text()` : returns the text of the page
- `soup.get_text(strip=True)` : returns the text of the page without the extra spaces
- `soup.get_text(strip=False)` : returns the text of the page with the extra spaces
- `soup.get_text(separator=' ')` : returns the text of the page with the separator as space
- `soup.get_text(separator='-', strip=True)` : returns the text of the page with the separator as - and without the extra spaces    
- `soup.get_text(separator='-', strip=False)` : returns the text of the page with the separator as - and with the extra spaces

In [10]:
soup.title

In [11]:
soup.title.name

'title'

In [12]:
soup.title.string

'Page Title'

In [13]:
soup.title.parent.name

'head'

In [14]:
soup.title.previous_element

In [15]:
soup.title.previous_siblings

In [16]:
soup.title.next

'Page Title'

In [17]:
soup.title.next_element

'Page Title'

In [18]:
soup.title.next_sibling

In [19]:
soup.head

In [20]:
soup.head.next_sibling

In [21]:
soup.head.next_sibling.next_element

In [22]:
soup.body.get_text()

'Lebron James Salary: $ 92,000,000  Stephen Curry Salary: $85,000, 000  Kevin Durant  Salary: $73,200, 000'

In [23]:
soup.h3

In [24]:
soup.find_all('h3')

[<h3><b id="boldest">Lebron James</b></h3>,
 <h3> Stephen Curry</h3>,
 <h3> Kevin Durant </h3>]

In [25]:
soup.find_all('p')

[<p> Salary: $ 92,000,000 </p>,
 <p> Salary: $85,000, 000 </p>,
 <p> Salary: $73,200, 000</p>]

In [26]:
soup.find_all('h3')[0].get_text()

'Lebron James'

## Tags

In [27]:
tag_object=soup.find_all('h3')[0]

In [28]:
print(tag_object)

<h3><b id="boldest">Lebron James</b></h3>

In [29]:
print(type(tag_object))

<class 'bs4.element.Tag'>

In [30]:
tag_object=soup.h3
tag_object

In [31]:
tag_object.b

### Children, Parents, and Siblings

In [32]:
tag_chiled = tag_object.b
tag_chiled

In [33]:
tag_object.parent

# --------------------------

# table data from wikipedia

In [34]:
url= 'https://en.wikipedia.org/wiki/World_population'

In [36]:
response= requests.get(url)

In [37]:
response.status_code

200

In [38]:
soup = BeautifulSoup(response.text,'html.parser')

In [42]:
# print(soup.prettify())

In [45]:
table= soup.find('table')

In [50]:
# table

In [46]:
table_head=[]
for i in table:
    th= i.find('th')
    table_head.append(th)

In [47]:
table_head

[None]

In [48]:
soup.find('th')

<th scope="row">Population
</th>

In [64]:
#The URL below contains an HTML table with data about colors and color codes.
url2 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [65]:
res=requests.get(url2)

In [66]:
res.status_code

200

In [67]:
soup1 = BeautifulSoup(res.text, 'html.parser')

In [68]:
soup1

<html>
<body>
<h1>Partital List  of HTML5 Supported Colors</h1>
<table border="1" class="main-table">
<tr>
<td>Number </td>
<td>Color</td>
<td>Color Name</td>
<td>Hex Code<br/>#RRGGBB</td>
<td>Decimal Code<br/>(R,G,B)</td>
</tr>
<tr>
<td>1</td>
<td style="background:lightsalmon;"> </td>
<td>lightsalmon</td>
<td>#FFA07A</td>
<td>rgb(255,160,122)</td>
</tr>
<tr>
<td>2</td>
<td style="background:salmon;"> </td>
<td>salmon</td>
<td>#FA8072</td>
<td>rgb(250,128,114)</td>
</tr>
<tr>
<td>3</td>
<td style="background:darksalmon;"> </td>
<td>darksalmon</td>
<td>#E9967A</td>
<td>rgb(233,150,122)</td>
</tr>
<tr>
<td>4</td>
<td style="background:lightcoral;"> </td>
<td>lightcoral</td>
<td>#F08080</td>
<td>rgb(240,128,128)</td>
</tr>
<tr>
<td>5</td>
<td style="background:coral;"> </td>
<td>coral</td>
<td>#FF7F50</td>
<td>rgb(255,127,80)</td>
</tr>
<tr>
<td>6</td>
<td style="background:tomato;"> </td>
<td>tomato</td>
<td>#FF6347</td>
<td>rgb(255,99,71)</td>
</tr>
<tr>
<td>7</td>
<td style="background:orangered;"> </td>
<td>orangered</td>
<td>#FF4500</td>
<td>rgb(255,69,0)</td>
</tr>
<tr>
<td>8</td>
<td style="background:gold;"> </td>
<td>gold</td>
<td>#FFD700</td>
<td>rgb(255,215,0)</td>
</tr>
<tr>
<td>9</td>
<td style="background:orange;"> </td>
<td>orange</td>
<td>#FFA500</td>
<td>rgb(255,165,0)</td>
</tr>
<tr>
<td>10</td>
<td style="background:darkorange;"> </td>
<td>darkorange</td>
<td>#FF8C00</td>
<td>rgb(255,140,0)</td>
</tr>
<tr>
<td>11</td>
<td style="background:lightyellow;"> </td>
<td>lightyellow</td>
<td>#FFFFE0</td>
<td>rgb(255,255,224)</td>
</tr>
<tr>
<td>12</td>
<td style="background:lemonchiffon;"> </td>
<td>lemonchiffon</td>
<td>#FFFACD</td>
<td>rgb(255,250,205)</td>
</tr>
<tr>
<td>13</td>
<td style="background:papayawhip;"> </td>
<td>papayawhip</td>
<td>#FFEFD5</td>
<td>rgb(255,239,213)</td>
</tr>
<tr>
<td>14</td>
<td style="background:moccasin;"> </td>
<td>moccasin</td>
<td>#FFE4B5</td>
<td>rgb(255,228,181)</td>
</tr>
<tr>
<td>15</td>
<td style="background:peachpuff;"> </td>
<td>peachpuff</td>
<td>#FFDAB9</td>
<td>rgb(255,218,185)</td>
</tr>
<tr>
<td>16</td>
<td style="background:palegoldenrod;"> </td>
<td>palegoldenrod</td>
<td>#EEE8AA</td>
<td>rgb(238,232,170)</td>
</tr>
<tr>
<td>17</td>
<td style="background:khaki;"> </td>
<td>khaki</td>
<td>#F0E68C</td>
<td>rgb(240,230,140)</td>
</tr>
<tr>
<td>18</td>
<td style="background:darkkhaki;"> </td>
<td>darkkhaki</td>
<td>#BDB76B</td>
<td>rgb(189,183,107)</td>
</tr>
<tr>
<td>19</td>
<td style="background:yellow;"> </td>
<td>yellow</td>
<td>#FFFF00</td>
<td>rgb(255,255,0)</td>
</tr>
<tr>
<td>20</td>
<td style="background:lawngreen;"> </td>
<td>lawngreen</td>
<td>#7CFC00</td>
<td>rgb(124,252,0)</td>
</tr>
<tr>
<td>21</td>
<td style="background:chartreuse;"> </td>
<td>chartreuse</td>
<td>#7FFF00</td>
<td>rgb(127,255,0)</td>
</tr>
<tr>
<td>22</td>
<td style="background:limegreen;"> </td>
<td>limegreen</td>
<td>#32CD32</td>
<td>rgb(50,205,50)</td>
</tr>
<tr>
<td>23</td>
<td style="background:lime;"> </td>
<td>lime</td>
<td>#00FF00</td>
<td>rgb(0.255.0)</td>
</tr>
<tr>
<td>24</td>
<td style="background:forestgreen;"> </td>
<td>forestgreen</td>
<td>#228B22</td>
<td>rgb(34,139,34)</td>
</tr>
<tr>
<td>25</td>
<td style="background:green;"> </td>
<td>green</td>
<td>#008000</td>
<td>rgb(0,128,0)</td>
</tr>
<tr>
<td>26</td>
<td style="background:powderblue;"> </td>
<td>powderblue</td>
<td>#B0E0E6</td>
<td>rgb(176,224,230)</td>
</tr>
<tr>
<td>27</td>
<td style="background:lightblue;"> </td>
<td>lightblue</td>
<td>#ADD8E6</td>
<td>rgb(173,216,230)</td>
</tr>
<tr>
<td>28</td>
<td style="background:lightskyblue;"> </td>
<td>lightskyblue</td>
<td>#87CEFA</td>
<td>rgb(135,206,250)</td>
</tr>
<tr>
<td>29</td>
<td style="background:skyblue;"> </td>
<td>skyblue</td>
<td>#87CEEB</td>
<td>rgb(135,206,235)</td>
</tr>
<tr>
<td>30</td>
<td style="background:deepskyblue;"> </td>
<td>deepskyblue</td>
<td>#00BFFF</td>
<td>rgb(0,191,255)</td>
</tr>
<tr>
<td>31</td>
<td style="background:lightsteelblue;"> </td>
<td>lightsteelblue</td>
<td>#B0C4DE</td>
<td>rgb(176,196,222)</td>
</tr>
<tr>
<td>32</td>
<td style="background:dodgerblue;"> </td>
<td>dodgerblue</td>
<td>#1E90FF</td>
<td>rgb(30,144,255)</td>
</tr>
</table>
</body>
</html>

In [69]:
table= soup1.find('table')

In [70]:
table

<table border="1" class="main-table">
<tr>
<td>Number </td>
<td>Color</td>
<td>Color Name</td>
<td>Hex Code<br/>#RRGGBB</td>
<td>Decimal Code<br/>(R,G,B)</td>
</tr>
<tr>
<td>1</td>
<td style="background:lightsalmon;"> </td>
<td>lightsalmon</td>
<td>#FFA07A</td>
<td>rgb(255,160,122)</td>
</tr>
<tr>
<td>2</td>
<td style="background:salmon;"> </td>
<td>salmon</td>
<td>#FA8072</td>
<td>rgb(250,128,114)</td>
</tr>
<tr>
<td>3</td>
<td style="background:darksalmon;"> </td>
<td>darksalmon</td>
<td>#E9967A</td>
<td>rgb(233,150,122)</td>
</tr>
<tr>
<td>4</td>
<td style="background:lightcoral;"> </td>
<td>lightcoral</td>
<td>#F08080</td>
<td>rgb(240,128,128)</td>
</tr>
<tr>
<td>5</td>
<td style="background:coral;"> </td>
<td>coral</td>
<td>#FF7F50</td>
<td>rgb(255,127,80)</td>
</tr>
<tr>
<td>6</td>
<td style="background:tomato;"> </td>
<td>tomato</td>
<td>#FF6347</td>
<td>rgb(255,99,71)</td>
</tr>
<tr>
<td>7</td>
<td style="background:orangered;"> </td>
<td>orangered</td>
<td>#FF4500</td>
<td>rgb(255,69,0)</td>
</tr>
<tr>
<td>8</td>
<td style="background:gold;"> </td>
<td>gold</td>
<td>#FFD700</td>
<td>rgb(255,215,0)</td>
</tr>
<tr>
<td>9</td>
<td style="background:orange;"> </td>
<td>orange</td>
<td>#FFA500</td>
<td>rgb(255,165,0)</td>
</tr>
<tr>
<td>10</td>
<td style="background:darkorange;"> </td>
<td>darkorange</td>
<td>#FF8C00</td>
<td>rgb(255,140,0)</td>
</tr>
<tr>
<td>11</td>
<td style="background:lightyellow;"> </td>
<td>lightyellow</td>
<td>#FFFFE0</td>
<td>rgb(255,255,224)</td>
</tr>
<tr>
<td>12</td>
<td style="background:lemonchiffon;"> </td>
<td>lemonchiffon</td>
<td>#FFFACD</td>
<td>rgb(255,250,205)</td>
</tr>
<tr>
<td>13</td>
<td style="background:papayawhip;"> </td>
<td>papayawhip</td>
<td>#FFEFD5</td>
<td>rgb(255,239,213)</td>
</tr>
<tr>
<td>14</td>
<td style="background:moccasin;"> </td>
<td>moccasin</td>
<td>#FFE4B5</td>
<td>rgb(255,228,181)</td>
</tr>
<tr>
<td>15</td>
<td style="background:peachpuff;"> </td>
<td>peachpuff</td>
<td>#FFDAB9</td>
<td>rgb(255,218,185)</td>
</tr>
<tr>
<td>16</td>
<td style="background:palegoldenrod;"> </td>
<td>palegoldenrod</td>
<td>#EEE8AA</td>
<td>rgb(238,232,170)</td>
</tr>
<tr>
<td>17</td>
<td style="background:khaki;"> </td>
<td>khaki</td>
<td>#F0E68C</td>
<td>rgb(240,230,140)</td>
</tr>
<tr>
<td>18</td>
<td style="background:darkkhaki;"> </td>
<td>darkkhaki</td>
<td>#BDB76B</td>
<td>rgb(189,183,107)</td>
</tr>
<tr>
<td>19</td>
<td style="background:yellow;"> </td>
<td>yellow</td>
<td>#FFFF00</td>
<td>rgb(255,255,0)</td>
</tr>
<tr>
<td>20</td>
<td style="background:lawngreen;"> </td>
<td>lawngreen</td>
<td>#7CFC00</td>
<td>rgb(124,252,0)</td>
</tr>
<tr>
<td>21</td>
<td style="background:chartreuse;"> </td>
<td>chartreuse</td>
<td>#7FFF00</td>
<td>rgb(127,255,0)</td>
</tr>
<tr>
<td>22</td>
<td style="background:limegreen;"> </td>
<td>limegreen</td>
<td>#32CD32</td>
<td>rgb(50,205,50)</td>
</tr>
<tr>
<td>23</td>
<td style="background:lime;"> </td>
<td>lime</td>
<td>#00FF00</td>
<td>rgb(0.255.0)</td>
</tr>
<tr>
<td>24</td>
<td style="background:forestgreen;"> </td>
<td>forestgreen</td>
<td>#228B22</td>
<td>rgb(34,139,34)</td>
</tr>
<tr>
<td>25</td>
<td style="background:green;"> </td>
<td>green</td>
<td>#008000</td>
<td>rgb(0,128,0)</td>
</tr>
<tr>
<td>26</td>
<td style="background:powderblue;"> </td>
<td>powderblue</td>
<td>#B0E0E6</td>
<td>rgb(176,224,230)</td>
</tr>
<tr>
<td>27</td>
<td style="background:lightblue;"> </td>
<td>lightblue</td>
<td>#ADD8E6</td>
<td>rgb(173,216,230)</td>
</tr>
<tr>
<td>28</td>
<td style="background:lightskyblue;"> </td>
<td>lightskyblue</td>
<td>#87CEFA</td>
<td>rgb(135,206,250)</td>
</tr>
<tr>
<td>29</td>
<td style="background:skyblue;"> </td>
<td>skyblue</td>
<td>#87CEEB</td>
<td>rgb(135,206,235)</td>
</tr>
<tr>
<td>30</td>
<td style="background:deepskyblue;"> </td>
<td>deepskyblue</td>
<td>#00BFFF</td>
<td>rgb(0,191,255)</td>
</tr>
<tr>
<td>31</td>
<td style="background:lightsteelblue;"> </td>
<td>lightsteelblue</td>
<td>#B0C4DE</td>
<td>rgb(176,196,222)</td>
</tr>
<tr>
<td>32</td>
<td style="background:dodgerblue;"> </td>
<td>dodgerblue</td>
<td>#1E90FF</td>
<td>rgb(30,144,255)</td>
</tr>
</table>

In [84]:
for row in table.find_all('tr'):
    cols = row.find_all('td')
    color_name = cols[2].string
    color_code = cols[3].string
    color_density = cols[4].string
    color=cols[0].string
    print(color,color_code,color_name,color_density)

Number  None Color Name None
1 #FFA07A lightsalmon rgb(255,160,122)
2 #FA8072 salmon rgb(250,128,114)
3 #E9967A darksalmon rgb(233,150,122)
4 #F08080 lightcoral rgb(240,128,128)
5 #FF7F50 coral rgb(255,127,80)
6 #FF6347 tomato rgb(255,99,71)
7 #FF4500 orangered rgb(255,69,0)
8 #FFD700 gold rgb(255,215,0)
9 #FFA500 orange rgb(255,165,0)
10 #FF8C00 darkorange rgb(255,140,0)
11 #FFFFE0 lightyellow rgb(255,255,224)
12 #FFFACD lemonchiffon rgb(255,250,205)
13 #FFEFD5 papayawhip rgb(255,239,213)
14 #FFE4B5 moccasin rgb(255,228,181)
15 #FFDAB9 peachpuff rgb(255,218,185)
16 #EEE8AA palegoldenrod rgb(238,232,170)
17 #F0E68C khaki rgb(240,230,140)
18 #BDB76B darkkhaki rgb(189,183,107)
19 #FFFF00 yellow rgb(255,255,0)
20 #7CFC00 lawngreen rgb(124,252,0)
21 #7FFF00 chartreuse rgb(127,255,0)
22 #32CD32 limegreen rgb(50,205,50)
23 #00FF00 lime rgb(0.255.0)
24 #228B22 forestgreen rgb(34,139,34)
25 #008000 green rgb(0,128,0)
26 #B0E0E6 powderblue rgb(176,224,230)
27 #ADD8E6 lightblue rgb(173,216,230)
28 #87CEFA lightskyblue rgb(135,206,250)
29 #87CEEB skyblue rgb(135,206,235)
30 #00BFFF deepskyblue rgb(0,191,255)
31 #B0C4DE lightsteelblue rgb(176,196,222)
32 #1E90FF dodgerblue rgb(30,144,255)

In [97]:

for row in table.find_all('tr'):
    cols = row.find_all('td')
    color_name = cols[2].text
    color_code = cols[3].text
    color_density = cols[4].text
    color=cols[0].text
    print(color,"-----",color_name,"-------",color_code,"-------",color_density)

Number  ----- Color Name ------- Hex Code#RRGGBB ------- Decimal Code(R,G,B)
1 ----- lightsalmon ------- #FFA07A ------- rgb(255,160,122)
2 ----- salmon ------- #FA8072 ------- rgb(250,128,114)
3 ----- darksalmon ------- #E9967A ------- rgb(233,150,122)
4 ----- lightcoral ------- #F08080 ------- rgb(240,128,128)
5 ----- coral ------- #FF7F50 ------- rgb(255,127,80)
6 ----- tomato ------- #FF6347 ------- rgb(255,99,71)
7 ----- orangered ------- #FF4500 ------- rgb(255,69,0)
8 ----- gold ------- #FFD700 ------- rgb(255,215,0)
9 ----- orange ------- #FFA500 ------- rgb(255,165,0)
10 ----- darkorange ------- #FF8C00 ------- rgb(255,140,0)
11 ----- lightyellow ------- #FFFFE0 ------- rgb(255,255,224)
12 ----- lemonchiffon ------- #FFFACD ------- rgb(255,250,205)
13 ----- papayawhip ------- #FFEFD5 ------- rgb(255,239,213)
14 ----- moccasin ------- #FFE4B5 ------- rgb(255,228,181)
15 ----- peachpuff ------- #FFDAB9 ------- rgb(255,218,185)
16 ----- palegoldenrod ------- #EEE8AA ------- rgb(238,232,170)
17 ----- khaki ------- #F0E68C ------- rgb(240,230,140)
18 ----- darkkhaki ------- #BDB76B ------- rgb(189,183,107)
19 ----- yellow ------- #FFFF00 ------- rgb(255,255,0)
20 ----- lawngreen ------- #7CFC00 ------- rgb(124,252,0)
21 ----- chartreuse ------- #7FFF00 ------- rgb(127,255,0)
22 ----- limegreen ------- #32CD32 ------- rgb(50,205,50)
23 ----- lime ------- #00FF00 ------- rgb(0.255.0)
24 ----- forestgreen ------- #228B22 ------- rgb(34,139,34)
25 ----- green ------- #008000 ------- rgb(0,128,0)
26 ----- powderblue ------- #B0E0E6 ------- rgb(176,224,230)
27 ----- lightblue ------- #ADD8E6 ------- rgb(173,216,230)
28 ----- lightskyblue ------- #87CEFA ------- rgb(135,206,250)
29 ----- skyblue ------- #87CEEB ------- rgb(135,206,235)
30 ----- deepskyblue ------- #00BFFF ------- rgb(0,191,255)
31 ----- lightsteelblue ------- #B0C4DE ------- rgb(176,196,222)
32 ----- dodgerblue ------- #1E90FF ------- rgb(30,144,255)

In [117]:
import pandas as pd

# Assuming 'table' is your HTML table element

data = []
for row in table.find_all('tr'):
    cols = row.find_all('td')
    data.append({
        'Color': cols[0].text,
        'Color Name': cols[2].text,
        'Color Code': cols[3].text,
        'Color Density': cols[4].text
    })

df = pd.DataFrame(data)
print(df)

      Color      Color Name       Color Code        Color Density
0   Number       Color Name  Hex Code#RRGGBB  Decimal Code(R,G,B)
1         1     lightsalmon          #FFA07A     rgb(255,160,122)
2         2          salmon          #FA8072     rgb(250,128,114)
3         3      darksalmon          #E9967A     rgb(233,150,122)
4         4      lightcoral          #F08080     rgb(240,128,128)
5         5           coral          #FF7F50      rgb(255,127,80)
6         6          tomato          #FF6347       rgb(255,99,71)
7         7       orangered          #FF4500        rgb(255,69,0)
8         8            gold          #FFD700       rgb(255,215,0)
9         9          orange          #FFA500       rgb(255,165,0)
10       10      darkorange          #FF8C00       rgb(255,140,0)
11       11     lightyellow          #FFFFE0     rgb(255,255,224)
12       12    lemonchiffon          #FFFACD     rgb(255,250,205)
13       13      papayawhip          #FFEFD5     rgb(255,239,213)
14       14        moccasin          #FFE4B5     rgb(255,228,181)
15       15       peachpuff          #FFDAB9     rgb(255,218,185)
16       16   palegoldenrod          #EEE8AA     rgb(238,232,170)
17       17           khaki          #F0E68C     rgb(240,230,140)
18       18       darkkhaki          #BDB76B     rgb(189,183,107)
19       19          yellow          #FFFF00       rgb(255,255,0)
20       20       lawngreen          #7CFC00       rgb(124,252,0)
21       21      chartreuse          #7FFF00       rgb(127,255,0)
22       22       limegreen          #32CD32       rgb(50,205,50)
23       23            lime          #00FF00         rgb(0.255.0)
24       24     forestgreen          #228B22       rgb(34,139,34)
25       25           green          #008000         rgb(0,128,0)
26       26      powderblue          #B0E0E6     rgb(176,224,230)
27       27       lightblue          #ADD8E6     rgb(173,216,230)
28       28    lightskyblue          #87CEFA     rgb(135,206,250)
29       29         skyblue          #87CEEB     rgb(135,206,235)
30       30     deepskyblue          #00BFFF       rgb(0,191,255)
31       31  lightsteelblue          #B0C4DE     rgb(176,196,222)
32       32      dodgerblue          #1E90FF      rgb(30,144,255)

In [120]:
df

      Color      Color Name       Color Code        Color Density
0   Number       Color Name  Hex Code#RRGGBB  Decimal Code(R,G,B)
1         1     lightsalmon          #FFA07A     rgb(255,160,122)
2         2          salmon          #FA8072     rgb(250,128,114)
3         3      darksalmon          #E9967A     rgb(233,150,122)
4         4      lightcoral          #F08080     rgb(240,128,128)
5         5           coral          #FF7F50      rgb(255,127,80)
6         6          tomato          #FF6347       rgb(255,99,71)
7         7       orangered          #FF4500        rgb(255,69,0)
8         8            gold          #FFD700       rgb(255,215,0)
9         9          orange          #FFA500       rgb(255,165,0)
10       10      darkorange          #FF8C00       rgb(255,140,0)
11       11     lightyellow          #FFFFE0     rgb(255,255,224)
12       12    lemonchiffon          #FFFACD     rgb(255,250,205)
13       13      papayawhip          #FFEFD5     rgb(255,239,213)
14       14        moccasin          #FFE4B5     rgb(255,228,181)
15       15       peachpuff          #FFDAB9     rgb(255,218,185)
16       16   palegoldenrod          #EEE8AA     rgb(238,232,170)
17       17           khaki          #F0E68C     rgb(240,230,140)
18       18       darkkhaki          #BDB76B     rgb(189,183,107)
19       19          yellow          #FFFF00       rgb(255,255,0)
20       20       lawngreen          #7CFC00       rgb(124,252,0)
21       21      chartreuse          #7FFF00       rgb(127,255,0)
22       22       limegreen          #32CD32       rgb(50,205,50)
23       23            lime          #00FF00         rgb(0.255.0)
24       24     forestgreen          #228B22       rgb(34,139,34)
25       25           green          #008000         rgb(0,128,0)
26       26      powderblue          #B0E0E6     rgb(176,224,230)
27       27       lightblue          #ADD8E6     rgb(173,216,230)
28       28    lightskyblue          #87CEFA     rgb(135,206,250)
29       29         skyblue          #87CEEB     rgb(135,206,235)
30       30     deepskyblue          #00BFFF       rgb(0,191,255)
31       31  lightsteelblue          #B0C4DE     rgb(176,196,222)
32       32      dodgerblue          #1E90FF      rgb(30,144,255)